html {
	background-color: olive;
	font-size: 1.5rem;
}

nav {
	margin: 2rem;
	border-radius: 1rem;
	background-color: #444444;
}

main {
	margin: 2rem;
	border-radius: 1rem;
	background-color: #333333;
}